/* :root is a place where you can assign variables!! */
:root {
    --primary-color: #d1e1eb;
    --secondary-color: #1fa1d8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
    transition-duration: 200ms;
}

body {
    min-height: 100vh;
}

body

main, header {
    max-width: 100%;
    width: 100%;
}

.scroll-down header {
	transform: translate3d(0, -100%, 0);
}

.scroll-up header {
	filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
}

header {
    position: fixed;
    top: 0;
	left: 0;
    background-color: white;
    padding: 10px 0;
    z-index: 9999;
    transition: all 300ms ease-in-out;
}

#header-logo {
    height: 80px;
}

nav ul {
    width: 90vw;
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* nav li {
    height: 50px;
} */

nav a {
    height: 100%;
    /* padding: 0 15px; */
    margin: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: purple;
}

nav a:hover {
    opacity: 0.3;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 120vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.34);
    backdrop-filter: blur(10px) !important;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 25px;
    gap: 45px;
}

/* .sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
} */

.menu-button {
    display: none;
}

@media(max-width: 700px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media(max-width: 500px) {
    .sidebar {
        width: 100%;
    }
}

.background-image {
    background-image: url("/public/lib-winter.avif");
    height: 120vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    padding-bottom: 10000%;
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="36" height="72" viewBox="0 0 36 72"%3E%3Cg fill-rule="evenodd"%3E%3Cg fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
}

.title-text {
    margin-top: -50vh;
    padding-left: 10vw;
    padding-right: 10vw;
    color: white;
    font-family: "Rufina", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6vw;
    text-align: center;
}

.mission {
    background-color: #712f88;
    width: 100%;
}

.mission div {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 80vw;
    margin: 0 auto;
    color: white;
}

.mission div h1 {
    font-family: "Rufina", serif;
    padding-bottom: 20px;
    font-size: 4vw;
}

.mission div ul {
    font-size: 20px;
    padding-left: 30px;
}

.mission li {
    margin-bottom: 30px;
}

.aesthetic-image {
    width: 100%;
    height: 600px;
    background-image: url("/public/summer.jpeg");
    background-size: cover;
    background-position: center center;
}

.philosophy {
    background-color: #712f88;
    width: 100%;
    display: flex;
}

.philosophy div {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 80vw;
    margin: 0 auto;
    color: white;
    display: flex;
    gap: 30px;
}

.philosophy h1 {
    font-family: "Rufina", serif;
    padding-bottom: 20px;
    font-size: 4vw;
}

.philosophy .info-card {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: rgb(210, 126, 251);
    padding: 20px;
}

.button-div {
    background-color: white;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.button-div>div {
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    border: 2px solid rgb(182, 2, 182);
    display: flex;
}

.button-div>div:hover {
    opacity: 0.3;
}

.button-div a {
    text-decoration: none;
    color: rgb(182, 2, 182);
    font-family: "Rufina", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

.arrow {
    padding-top: 4px;
    padding-left: 30px;
    color: rgb(182, 2, 182);
}

.arrow i {
    font-size: 50px;
}

.aesthetic-image2 {
    width: 100%;
    height: 600px;
    background-image: url("/public/flowers.jpeg");
    background-size: cover;
    background-position: center bottom;
}

footer {
    color: purple;
    background-color: white;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center; 
    justify-content: center;
}

footer div {
    text-align: center;
}

footer div p:nth-child(2) {
    color: rgb(187, 113, 197);
}

/* About */

.sector-focus, .asset-allocation, .benefit ul {
    padding-left: 30px;
}